* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainWindow {
  position: relative;
}
.blueBar {
  height: 40px;
  background-color: rgb(63, 135, 203);
  display: flex;
  align-items: center;
}

.blueBar i {
  margin-left: 20px;
}

.slideBar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(240, 145, 177);
  width: 30vw;
  min-width: 300px;
  min-height: 100vh;
  display: flex;
  align-items: end;
  flex-direction: column;
  padding-top: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.735);
}

.buttonCollection {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

button {
  width: 90%;
  min-width: 260px;
  background-color: rgb(239, 199, 88);
  border: none;
  border-radius: 5px;
  padding: 15px;
}

#closeIcon,
#menu,
.buttonCollection > button {
  cursor: pointer;
}

#closeIcon {
  padding-right: 35px;
}

.hideElement {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.showElement {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.displaySubCategory {
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  list-style: none;
  width: 100%;
  min-width: 260px;
  background-color: rgb(239, 199, 88);
  border-radius: 5px;
  padding: 15px;
}

.buttonDiv {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalHidden {
  display: none;
}
